<footer class="footer">
  
  <div class="p2 wrap">
  	<svg version="1.1" class="smallbox"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	  viewBox="0 0 422.4 432.5">
<defs>
  
    <linearGradient id="myLinearGradient-b"
                    x1="0%" y1="0%"
                    x2="0%" y2="100%"
                    spreadMethod="pad">
      <stop offset="0%"   stop-color="#00cc00" stop-opacity="1"/>
      <stop offset="100%" stop-color="#006600" stop-opacity="1"/>
    </linearGradient>
  <linearGradient id="myLinearGradient-o"
                    x1="100%" y1="0%"
                    x2="0%" y2="0%"
                    spreadMethod="pad">
      <stop offset="0%"   stop-color="#FF55B3" stop-opacity="1"/>
      <stop offset="100%" stop-color="#00A185" stop-opacity="1"/>
    </linearGradient>
  <linearGradient id="myLinearGradient-x"
                    x1="100%" y1="0%"
                    x2="0%" y2="100%"
                    spreadMethod="pad">
      <stop offset="0%"   stop-color="#F074AC" stop-opacity="1"/>
      <stop offset="100%" stop-color="#000594" stop-opacity="1"/>
      <animate attributeName="x2" values="0;1;0" dur="10s" from="0%" to="100%" fill="freeze" repeatCount="indefinite"/>
    <animate attributeName="y2" dur="10s" from="50%" to="51%" repeatCount="indefinite"/>
    </linearGradient>
  
</defs>
<path d="M87.8,122.8c-13.5-8.1-18.9-13.5-17.5-21.6c0-4,2.7-9.5,6.7-13.5c2.7-1.3,4-2.7,16.2-10.8l109.3-63.4l9.5-5.4
	c18.9-10.8,47.3-10.8,66.2,0l26.9,16.2c20.2,12.2,26.9,16.2,33.8,21.6c20.2,18.9,14.9,43.2-13.5,59.4c-10.8,6.7-20.2,9.5-39.1,12.2
	c0,17.5-6.7,28.4-24.3,39.1c-17.5,9.5-37.8,14.9-62,13.5c-24.3,0-36.4-4-60.7-18.9L87.8,122.8L87.8,122.8z" fill="url('#myLinearGradient-b')"/>
<path d="M102.5,406.2C44.5,372.4,0,294.1,0,227.9c0-64.7,45.8-89.1,102.5-56.7S205,283.2,205,347.9
	C205.1,411.7,159.3,438.7,102.5,406.2z" fill="url('#myLinearGradient-o')"/>
<path d="M338.7,219.9l20.2-39.1c10.8-20.2,17.5-31.1,28.4-36.4c17.5-10.8,32.4-2.7,32.4,17.5c0,8.1-2.7,20.2-10.8,33.8l-29.7,62
	l36.4,35.1c4,4,6.7,10.8,6.7,20.2c0,20.2-13.5,44.5-31.1,54c-10.8,5.4-20.2,6.7-26.9,0l-26.9-24.2l-25.6,54
	c-8.1,16.2-14.9,24.3-26.9,31.1c-17.5,10.8-32.4,1.3-32.4-17.5c0-9.5,2.7-20.2,6.7-29.7l37.8-76.9l-26.9-25.6
	c-9.5-9.5-13.5-16.2-13.5-24.4c0-20.2,14.9-45.8,32.4-55.3c10.8-6.7,20.2-5.4,26.9,1.3C318.5,199.7,338.7,219.9,338.7,219.9z" fill="url('#myLinearGradient-x')"/>
  
</svg>
    <div class="measure mt1 center">
      <svg
      
      <defs>
    <linearGradient id="myLinearGradient1"
                    x1="0%" y1="0%"
                    x2="0%" y2="100%"
                    spreadMethod="pad">
      <stop offset="0%"   stop-color="#00cc00" stop-opacity="1"/>
      <stop offset="100%" stop-color="#006600" stop-opacity="1"/>
    </linearGradient>
  </defs>
      class="icon-box"><use xlink:href="#icon-box" fill="url('#myLinearGradient1')"></use></svg>
      <small>
        Crafted with &lt;3 by <a href="http://johnotander.com">John Otander</a> (<a href="https://twitter.com/4lpine">@4lpine</a>).<br>
        &lt;/&gt; available on <a href="https://github.com/johnotander/pixyll">Github</a>.
      </small>
    </div>
  </div>
</footer>

{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');

</script>
{% endif %}
